<div>
  <div class="post">
    <h1>{{summary-name}}: {{summary-item-name}}</h1>
    <ul class="org-ul">
      {{#posts}}
        <li><a href="{{post-uri}}">{{post-title}}</a></li>
      {{/posts}}
    </ul>
  </div>
</div>