<div>
  <div class="post">
    {{#updates-p}}
    <h1>updates</h1>
    <ul class="org-ul">
      {{#updates}}
        <li>
          <span style="position:relative;float:left;width:100%;">{{post-date}}&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="{{post-uri}}">{{post-title}}</a>
            <span style="float:right;text-align:right;"><code>{{{tag-links}}}</code></span>
          </span>
        </li>
      {{/updates}}
    </ul>
    {{/updates-p}}
    <h1>{{summary-name}}: Index</h1>
    <ul>
      {{#summary}}
        <li><a href="{{summary-item-uri}}">{{summary-item-name}} ({{count}})</a></li>
      {{/summary}}
    </ul>
  </div>
</div>