<div>
  <div class="post">
    <h1>{{summary-name}} Index</h1>
    <ul class="org-ul">
      {{#summary}}
        <li><a href="{{summary-item-uri}}">{{summary-item-name}} ({{count}})</a></li>
      {{/summary}}
    </ul>
  </div>
</div>